## .NET
bin/
obj/
publish/
*.user
*.suo
*.cache
*.vs/
.vs/

## IDE
.idea/
.vscode/
*.swp
*.swo

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json

## Logs
logs/
*.log

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.*.local.json
*.pfx
*.key
